################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VeracidataApi/.vs/VeracidataApi
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/EndpointInfo/VeracidataApi.API.json
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/ref/VeracidataApi.API.dll
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/apphost.exe
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.AssemblyInfo.cs
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.AssemblyInfoInputs.cache
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.assets.cache
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.csproj.AssemblyReference.cache
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.csproj.CoreCompileInputs.cache
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.csproj.FileListAbsolute.txt
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.dll
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.GeneratedMSBuildEditorConfig.editorconfig
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/refint/VeracidataApi.API.dll
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.genruntimeconfig.cache
/VeracidataApi/VeracidataApi.API/obj/Debug/net8.0/VeracidataApi.API.pdb
/VeracidataApi/VeracidataApi.API/obj/project.assets.json
/VeracidataApi/VeracidataApi.API/obj/project.nuget.cache
/VeracidataApi/VeracidataApi.API/obj/VeracidataApi.API.csproj.nuget.dgspec.json
/VeracidataApi/VeracidataApi.Application/bin/Debug/net8.0/VeracidataApi.Application.dll
/VeracidataApi/VeracidataApi.Application/bin/Debug/net8.0/VeracidataApi.Application.pdb
/VeracidataApi/VeracidataApi.Application/bin/Debug/net8.0/VeracidataApi.Domain.dll
/VeracidataApi/VeracidataApi.Application/bin/Debug/net8.0/VeracidataApi.Domain.pdb
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/ref/VeracidataApi.Application.dll
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/refint/VeracidataApi.Application.dll
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.AssemblyInfo.cs
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.AssemblyInfoInputs.cache
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.assets.cache
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.csproj.AssemblyReference.cache
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.csproj.CoreCompileInputs.cache
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.csproj.FileListAbsolute.txt
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.dll
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.GeneratedMSBuildEditorConfig.editorconfig
/VeracidataApi/VeracidataApi.Application/obj/Debug/net8.0/VeracidataApi.Application.pdb
/VeracidataApi/VeracidataApi.Application/obj/project.assets.json
/VeracidataApi/VeracidataApi.Application/obj/project.nuget.cache
/VeracidataApi/VeracidataApi.Application/obj/VeracidataApi.Application.csproj.nuget.dgspec.json
/VeracidataApi/VeracidataApi.Core/obj/Debug/net8.0/VeracidataApi.Core.AssemblyInfo.cs
/VeracidataApi/VeracidataApi.Core/obj/Debug/net8.0/VeracidataApi.Core.AssemblyInfoInputs.cache
/VeracidataApi/VeracidataApi.Core/obj/Debug/net8.0/VeracidataApi.Core.assets.cache
/VeracidataApi/VeracidataApi.Core/obj/Debug/net8.0/VeracidataApi.Core.GeneratedMSBuildEditorConfig.editorconfig
/VeracidataApi/VeracidataApi.Domain/bin/Debug/net8.0/VeracidataApi.Domain.dll
/VeracidataApi/VeracidataApi.Domain/bin/Debug/net8.0/VeracidataApi.Domain.pdb
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/ref/VeracidataApi.Domain.dll
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/refint/VeracidataApi.Domain.dll
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.AssemblyInfo.cs
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.AssemblyInfoInputs.cache
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.assets.cache
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.csproj.FileListAbsolute.txt
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.dll
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.GeneratedMSBuildEditorConfig.editorconfig
/VeracidataApi/VeracidataApi.Domain/obj/Debug/net8.0/VeracidataApi.Domain.pdb
/VeracidataApi/VeracidataApi.Domain/obj/project.assets.json
/VeracidataApi/VeracidataApi.Domain/obj/project.nuget.cache
/VeracidataApi/VeracidataApi.Domain/obj/VeracidataApi.Domain.csproj.nuget.dgspec.json
/VeracidataApi/VeracidataApi.Infrastructure/bin/Debug/net8.0/VeracidataApi.Domain.dll
/VeracidataApi/VeracidataApi.Infrastructure/bin/Debug/net8.0/VeracidataApi.Domain.pdb
/VeracidataApi/VeracidataApi.Infrastructure/bin/Debug/net8.0/VeracidataApi.Infrastructure.dll
/VeracidataApi/VeracidataApi.Infrastructure/bin/Debug/net8.0/VeracidataApi.Infrastructure.pdb
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/ref/VeracidataApi.Infrastructure.dll
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/refint/VeracidataApi.Infrastructure.dll
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.AssemblyInfo.cs
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.AssemblyInfoInputs.cache
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.assets.cache
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.csproj.AssemblyReference.cache
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.csproj.CoreCompileInputs.cache
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.csproj.FileListAbsolute.txt
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.dll
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/VeracidataApi/VeracidataApi.Infrastructure/obj/Debug/net8.0/VeracidataApi.Infrastructure.pdb
/VeracidataApi/VeracidataApi.Infrastructure/obj/project.assets.json
/VeracidataApi/VeracidataApi.Infrastructure/obj/project.nuget.cache
/VeracidataApi/VeracidataApi.Infrastructure/obj/VeracidataApi.Infrastructure.csproj.nuget.dgspec.json
