<div class="customer-list-container">
    <h2>Customers</h2>

    <div class="text-right mb-3">
        <a href="#!/customers/create" class="btn btn-success">New Customer</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in vm.customers">
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.cpf }}</td>
                <td>
                    <a href="#!/customers/edit/{{customer.id}}" class="btn btn-primary btn-sm">Edit</a>
                    <button class="btn btn-danger btn-sm" ng-click="vm.deleteCustomer(customer.id)">Delete</button>
                </td>
            </tr>
            <tr ng-if="vm.customers.length === 0">
                <td colspan="4" class="text-center">No customers found.</td>
            </tr>
        </tbody>
    </table>
</div>
